<!DOCTYPE html>
<html lang="en">
 <style>
    body{
        background-color:rgb(172, 172, 197);
    }
 </style>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  </head>
  <body>
    <header></header>
      <h1>Career Recommendation</h1>
      <nav>
        <ul>
          <li><a href="{% url 'finalapp:t' %}">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Find your dream job</h2>
      <p>We offer career recommendations based on your interests, skills, and personality.</p>
    </main>
    <footer>
      <p>&copy; 2023 Career Recommendation. All rights reserved.</p>
    </footer>
  </body>
</html>
